<div>
	<div>
		{{ component "top_dir/some-phrase/mid_dir/321/bottom_dir/last-part"
			"Q" "QQQQ"
			"R" 7777
			"S" "SSSS"
		}}
	</div>
	<div>
		{{ component "component_2"
			"A" 123
			"B" "abc"
			"C" true
		}}
	</div>
	<div>
		{{ .A }}
	</div>
	<div>
		{{ .B }}
	</div>
	<div>
		{{ .C }}
	</div>
</div>
